*
{
    margin:0;
    padding:0;
    text-decoration:none;
    border:none;
    list-style: none;
    outline:none;
    box-sizing:border-box;
    color: white;
    font-size: 1.5rem;
    color: black;
}

.flexbox
{
    display: flex;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: darkgrey;
    height: 10vh;
}
.main
{
    display: flex;
    height: 80vh;
}
.flexbox__item
{
    flex: 0 1 10%;
    background: indianred;
    display: flex;
    display:flex;
    justify-content:center;
    align-items:center;
}
.aside
{
    background: blue;
}
.section
{
    flex:auto;
    background: aqua;
    display: flex;
    display:flex;
    justify-content:center;
    align-items:center;
}
@media(max-width:1200px){}
@media(max-width:991px){
    .main
    {
        flex-direction: column;
    }
}
@media(max-width:768px){}
@media(max-width:450px){
    *{
        font-size: 1.3rem;
    }
    .section
    {
        order: -3;
    }
    .aside
    {
        order: -2;
    }
    .flexbox
    {
        height: 5vh;
    }
    .main
    {
        height: 20vh;
    }
    .flexbox__item
    {
        flex-basis:6vh ;
    }
}