@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,500&display=swap");

*
{
    margin:0;
    padding:0;
    text-decoration:none;
    border:none;
    list-style: none;
    outline:none;
    box-sizing:border-box;
    font-family:'Roboto Mono', monospace;
    transition: .4s linear;
}

.main__container
{
    display: grid;
    grid-template: repeat(3,60vh) 30vh /repeat(4,24.7vw) ;
}

.iphone-6s
{
    grid-area: 1/1/2/3;
}
.iphone-6s__content
{
    display: flex;
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100%;
}
.iphone-6s__information
{
    padding: 4em;   
    flex: 1 1 20%;
    height: 100%;
}
.title
{
    text-transform: uppercase;
    font-size:1rem;
    color: #7777;
    word-spacing: .1em;
}
.text
{
    padding: 1em 0;
}
.doc
{
    font-size: 1.9rem;
}
.iphone-6s__text
{
    text-transform: capitalize;
}
.iphone-6s__doc
{
    font-weight: bolder;
}
.story
{
    font-weight: lighter;
    padding: 1em 0;
    color: #555;
}
.iphone-6s__image
{
    flex:none;
    width: 300px;
    height: 100%;
    /* object-fit: cover; */
    padding-top: 3rem;
    padding-right: 4em;
}


.guidelines
{
    grid-area: 1/3/2/5;
}
.guidelines__content
{
    padding: 1rem;
    background-color: #f7f8f9;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.guidelines__text
{
    font-size:2.7rem;
    text-align: center;
    padding: 0 1em .5em;
    text-transform: capitalize;
}
.btn
{
    cursor: pointer;
    font-size: 1.1rem;
    background-color: transparent;
    font-weight: 300;
}
.btn::first-letter
{
    text-transform: uppercase;
}
.guidelines__button
{
    text-decoration: underline;
    color: blue;
    background-color: transparent;
}
.guidelines__button:hover
{
    color: thistle;
}

.brand-new
{
    grid-area: 2/1/3/2;
}
.brand-new__content
{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    background-color: #f05638;
    height: 100%;
    padding: 1rem;
    
}
.brand-new__image
{
    flex: none;
    object-fit: cover;
    height: 60%;
}
.brand-new__info
{
    text-align: center;
    padding: .3rem;
    color: white;
    padding-bottom: .3em;
}
.brand-new__button
{
    color: #febe0d;
    font-weight: 500;
    font-size: 1.5rem;
    position: relative;
}
.brand-new__button::after
{
    content: " >";

}
.brand-new__button::before
{
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    background-color: #febe0d;
    width: 100%;
    height: 2px;
    transform: scale(0);
    transition: .6s transform ease-in-out ;
}
.brand-new__button:hover::before
{
    transform: scale(1);
}

.apple
{
    grid-area: 2/2/3/4;
}
.apple__content
{
    display: flex;
    height: 100%;
}

.apple__imac
{
 display: flex;
 flex-direction: column;  
 width: 50%;
}
.apple__description
{

    padding: 4em 2em 2em ;
}
.apple__doc
{
    font-size: 1.5rem;
}
.apple__image
{
    position: relative;
    left: -30%;
    z-index: -1;
    height: 100%;
}
.apple__text
{
    padding: 1em;
}
.apple__story
{
    font-weight: 400;
}
.apple__button
{
    color: slateblue;
    letter-spacing: .3em;
}
.apple__button::after
{
    content: " >";
}
.icloud
{
    grid-area: 2/4/4/5;
    flex-direction: column;
    display:flex;
    justify-content:center;
    align-items:center;
    /* padding: 1.4em; */
    background-color: #8f76bc;
    overflow: hidden;
    color: white;
    /* width: 90%; */
}
.icloud__meet
{
    
    position: relative;
    border-radius:50% ;
    top: -10px;
    width: 120%;
    text-align: center;
    background-color: #7d63ab;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
.fas.fa-flag
{
    color: goldenrod;
}
.icloud__popular
{
    border-radius: 40px;
    /* border: 1px solid; */
    padding: 10px;
    margin: 13px;
    background-color: #8f76bc;

}
.icloud__save
{
    width: 70%;
    margin: 0 auto;
    padding: .3em;
}
.icloud__text 
{
    font-size: 1em;
    padding: .3em;
    text-transform: uppercase;
    font-weight: bolder;
}
.icloud__information
{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    padding: 1.2em;
}
.icloud__story
{
    color: white;
}
.icloud__learn-more
{
    color: black;
    font-size: 1.2rem;
    background-color: yellow;
    padding: .5em;
    border-radius: 20px;
}
.icloud__learn-more:hover
{
    color: white;
}
.games
{
    grid-area: 3/1/4/2;
}
.games__content
{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    height: 100%;
    padding: .7em;
}
.game__image
{
    width: 80%;
}
.games__title
{
    flex: auto;
    padding:  0 1em;
    text-align: center;
}
.games__button
{
    margin: 1em auto;
    color: rgb(18, 117, 117);
    font-weight: bolder;
}
.experience
{
    grid-area: 3/2/4/4 ;
}
.experience__content
{
    background-color: #93b6b7;
    height: 100%;
    padding: 2em 2em 0;
    color: white;
    flex-direction: column;
    overflow: hidden;
    
}
.best-choice
{
    font-size: .7em;
    background-color: red;
    display: inline-block;
    padding: .4em;
    text-transform: uppercase;
    border-radius: 10px;
}
.experience__title
{
    text-transform: uppercase;
    padding:  0 8em .8em;
    font-size: 1.4rem;
    text-align: center;
}
.container__image
{
    background: url("images/bg1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;

}
.experience__image
{
    padding: 3em 3em 0;
    width: 100%;
    position: relative;
    left: -10%;
}
.connect{
    overflow: hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #38d5f4;
}
.connect__content
{
    height: 120%;
    border-radius: 50%;
    margin: 0 2em;
    padding: 2.5em;
    display:flex;
    background-color: #35cfed;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    color: white;
}
.fa-twitter
{
   font-size: 3.6rem;
}
.connect__title
{
    font-size: 1.6rem;
}

.much-better
{
    grid-area: 4/2/5/3;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
.much-better__popular
{
    color: white;
    background-color: yellowgreen;
    padding: .4em;
    border-radius: 15px;
}
.much-better__text{
    text-align: center;
}
.display
{
    background: #2c2c2c;
    display: flex;
    grid-area: 4/3/5/5;

}
.display__image
{
    flex: 0 1 40%;
    object-fit: cover;
}
.display__text  
{
    flex: 0 1 50%;
    font-size: 1.5rem;
    color: white;
    padding: 2rem;
}