* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  list-style: none;
  outline: none;
  box-sizing: border-box;
  /* transition: .4s; */
}

.container {
  width: 90vw;
  height: 85vh;
  margin: 3em auto;
}
.mySlides
{
  position: relative;
}



.numberText
{
  position: absolute;
  top: 20px;left: 20px;
  color: white;
}
.next,.prev
{
  position: absolute;
  top: 8em;
  color: white;
  font-size: 2rem;
  padding: .5em;
}
.next:hover,.prev:hover
{
  background-color: black;
}

.next
{
  right: 2.2em;
}
.prev
{
  left: 2.2em;
}
img
{
  width: 100%;
  animation: fade .5s;
}
@keyframes fade {
  from{
    opacity: .5;
  }
  to{
    opacity: 1;
  }
}
.caption-container
{
  background-color: #0000;
}
.caption
{
  text-align:center;
  padding: 1em;
  font:{
    size:1.2rem;
    weight:bolder;
  };
}

.grid-image
{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.image
{
  width: 100%;
  height: 100%;
  opacity: .5;
}
.image_active
{
  opacity: 1;
}